<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 
    <dir class="not-found content">
        OOPS . page not-found

    </dir>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>