<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 

    <dir class="blogs content">
        <h2>About User </h2>
        ecima, Eodem ninja ipsum modo typi, qui nunc nobis vindentur parum clari, fiant sollemnes in ninja futurum.
        ecima, Eodem ninja ipsum modo typi, qui nunc nobis vindentur parum clari, fiant sollemnes in ninja futurum.
        ecima, Eodem ninja ipsum modo typi, qui nunc nobis vindentur parum clari, fiant sollemnes in ninja futurum.

    </dir>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>